<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>shiroStudy</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- shiro 1.1 及之前配置方式 -->
	<!-- <filter>
		<filter-name>iniShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
		<init-param>
			<param-name>configPath</param-name>
			默认先从/WEB-INF/web_shiro.ini加载，如果没有默认就加载classpath:web_shiro.ini,即默认相对于web应用的上下文根路径
			<param-value>classpath:web_shiro.ini</param-value>
		</init-param>
		可以直接内嵌ini配置文件内容
		<init-param>
			<param-name>config</param-name>
			<param-value>ini配置文件内容直接贴在这</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>iniShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->

	<!-- shiro 1.2及以后配置方式 -->
	<!-- 1.2开始引入Environment/WebEnvironment的概念，即由它们的实现提供相应的SecurityManager及其相应的依赖， 
		ShiroFilter会自动找到Environment然后获取相应的依赖 -->
	<!-- 通过EnvironmentLoaderListener来创建相应的WebEnvironment,并自动绑定到ServiceContext，默认使用IniWebEnvironment实现 -->
	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>shiroEnvironmentClass</param-name>
		<param-value>org.apache.shiro.web.env.IniWebEnvironment</param-value>
		<!-- 默认先从/WEB-INF/web_shiro.ini加载，如果没有默认就加载classpath:web_shiro.ini,即默认相对于web应用的上下文根路径 -->
	</context-param>

	<context-param>
		<param-name>shiroConfigLocations</param-name>
		<param-value>classpath:web_formfilterlogin_shiro.ini</param-value>
	</context-param>

	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>